<!-- begin advantage  -->
<div class="advantage">
	<div class="advantage__item">
		<div class="advantage__content">
			<h2 class="secondary-title secondary-title--white">
				Sell Your Excess Space to Advertisers
			</h2>
			<div class="advantage__descr">
				<p>
					Donec eu egestas massa. Pellentesque viverra viverra tellus, non tempor libero lobortis vel. Mauris nec sollicitudin velit. Nam dui nibh, consequat sed dolor non, commodo consequat felis. Maecenas aliquet arcu id mattis vestibulum. Donec in lacus pulvinar, posuere magna ac, tempor quam. Aenean iaculis mi ac sapien.
				</p>
			</div>
			<ul class="advantage__list">
				<li>
					Aenean iaculis mi ac sapien mollis, posuere semper nibh finibus.
				</li>
				<li>
					Suspendisse pharetra elit ut neque viverra condimentum.
				</li>
				<li>
					Cras nec lorem a nisl auctor sodales sed sed quam posuere semper.
				</li>
			</ul>
		</div>
		<div class="advantage__pic" style="background-image:url(../img/advantage-bg-1.jpg)"></div>
	</div>
	<div class="advantage__item">
		<div class="advantage__pic" style="background-image:url(../img/advantage-bg-2.jpg)"></div>
		<div class="advantage__content">
			<h2 class="secondary-title secondary-title--white">
				Sell Your Excess Space to Advertisers
			</h2>
			<div class="advantage__descr">
				<p>
					Donec eu egestas massa. Pellentesque viverra viverra tellus, non tempor libero lobortis vel. Mauris nec sollicitudin velit. Nam dui nibh, consequat sed dolor non, commodo consequat felis. Maecenas aliquet arcu id mattis vestibulum. Donec in lacus pulvinar, posuere magna ac, tempor quam. Aenean iaculis mi ac sapien.
				</p>
			</div>
			<ul class="advantage__list">
				<li>
					Aenean iaculis mi ac sapien mollis, posuere semper nibh finibus.
				</li>
				<li>
					Suspendisse pharetra elit ut neque viverra condimentum.
				</li>
				<li>
					Cras nec lorem a nisl auctor sodales sed sed quam posuere semper.
				</li>
			</ul>
		</div>
		
	</div>
</div>
<!-- end advantage  -->