
<!-- begin banner  -->
<div class="banner">
	<div class="container">
		<div class="banner__content" style="background-image:url(../img/banner-bg.jpg)">
			<div class="banner__title">Advertise with Spacewolff</div>
			<div class="banner__descr">
				Put your ad on Spacewolff’s homepage, in Spacewolff’s emails, and on Spacewolff’s blog.
			</div>
			<div class="banner__btn">
				<a class="btn-green btn-green--large" href="#" title="View Our Listings">View Our Listings</a>
			</div>
		</div>
	</div>
</div>
<!-- end banner  -->