<!-- begin footer  -->
<footer class="footer">
	<div class="container">
	    <div class="footer__content">
	    	<div class="footer__descr">
	    		<div class="footer__title">about us</div>
	    		<p>
	    			Spacewolff is an online marketplace connecting advertisers and owners of ad space. Small and large businesses, individuals, publishers, and content creators can create and sell space across multiple channels. Advertisers and can easily search and sort ad space to identify channels that reach their specific target market and place ads directly through the site. Spacewolff was founded in 2016 and is based in Miami, Florida.
	    		</p>
	    	</div>
	    	<div class="footer__lists">
	    		<div class="footer__list">
		    		<div class="footer__title">Spacewolff</div>
		    		<ul>
		    			<li>
		    				<a href="#" title="Marketplace">Marketplace</a>
		    			</li>
		    			<li>
		    				<a href="#" title="About Company">About Company</a>
		    			</li>
		    			<li>
		    				<a href="#" title="FAQs">FAQs</a>
		    			</li>
		    			<li>
		    				<a href="#" title="Contact">Contact</a>
		    			</li>
		    		</ul>
	    		</div>
	    		<div class="footer__list">
	    			<div class="footer__title">Legal</div>
		    		<ul>
		    			<li>
		    				<a href="#" title="Privacy Policy">Privacy Policy</a>
		    			</li>
		    			<li>
		    				<a href="#" title="Terms of Use">Terms of Use</a>
		    			</li>
		    			<li>
		    				<a href="#" title="Payment and Refund Policy">Payment and Refund Policy</a>
		    			</li>
		    		</ul>
		    	</div>
		    	<div class="footer__list">
		    		<div class="footer__title">Follow us</div>
		    		<ul class="footer__social">
		    			<li>
		    				<a class="icon-social" href="#" title="facebook">
		    					<i class="fa fa-facebook"></i>
		    				</a>
		    			</li>
		    			<li>
		    				<a class="icon-social" href="#" title="twitter">
		    					<i class="fa fa-twitter"></i>
		    				</a>
		    			</li>
		    			<li>
		    				<a class="icon-social" href="#" title="instagram">
		    					<i class="fa fa-instagram"></i>
		    				</a>
		    			</li>
		    		</ul>
	    		</div>
	    	</div>
	    </div>
	    <div class="footer__copyright">
	    	© 2017 Copyright - Spacewollf, LLC. 
	    </div>
    </div>
</footer>
<!-- end footer  -->
