<!-- begin header  -->
<header class="header">
	<div class="container">
	    <a class="header__logo" href="#">
	      <img src="img/logo.png" alt="Spacewolff" title="Spacewolff">
	    </a>
	    <div class="header__authorize">
	    	<a class="header-btn js-login" href="#" title="Log in">log in</a>
	    	<a class="header-btn header-btn--border js-signup" href="#" title="SING UP">sign up</a>
	    </div>
	    <div class="header__menu-btn js-menu-btn">
	    	<div class="menu-btn"></div>
	    </div>
	    <div class="header__nav js-header-nav">
	    	<ul class="nav">
	    		<li class="nav__item">
	    			<a class="nav__link" href="#" title="About">About</a>
	    		</li>
	    		<li class="nav__item">
	    			<a class="nav__link" href="#" title="Marketplace">Marketplace</a>
	    		</li>
	    		<li class="nav__item">
	    			<a class="nav__link" href="#" title="Contacts">Contacts</a>
	    		</li>
	    	</ul>
	    </div>
    </div>
</header>
<!-- end header  -->
