<!-- begin make  -->
<div class="make">
	<div class="container">
		<h2 class="secondary-title">we make advertising simple</h2>
		<div class="make__content">
			<img class="make__pic" src="img/make-pic.jpg" alt="">
			<div class="make__descr">
				<p>
					Find ad space that reaches your targeted audience and place ads directly through the site. Monetize your space by selling it to the advertisers on the site.
				</p>
				<p>
					View your user dashboard to see how much you’ve earned and how much you’ve spent.
				</p>
			</div>
			<a class="btn-green" title="Get started" href="#">Get Started</a>
		</div>
	</div>
</div>
<!-- end make  -->