<!-- begin why  -->
<div class="why" id="why">
	<div class="container">
		<h2 class="secondary-title">Why Spacewolff</h2>
		<div class="why-items">
			{% for item in itemsWhy %}
			<!-- begin item  -->
			<div class="item">
				<div class="item__pic">
					<div class="icon {{item.icon}}"></div>
				</div>
				<h3 class="item__title">{{item.title}}</h3>
				<div class="item__summary">
					{{item.summary}}
				</div>
			</div>
			<!-- end item  -->
			{% endfor %}
		</div>
	</div>
</div>
<!-- end why  -->